@import "tailwindcss";
@import "./local-fonts.css";

:root {
  --background: #F3F0E6;
  --foreground: #1F1514;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* Base font styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora);
}

.font-kazimir {
  font-family: 'Kazimir-Bold', sans-serif;
}
