@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./local-fonts.css";

:root {
  --background: #F3F0E6;
  --foreground: #1F1514;
}

section {
  background: var(--background);
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.theme-background {
	background:  var(--background);
}

/* Base font styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora);
}

.font-kazimir {
  font-family: 'Kazimir-Bold', sans-serif;
}


/* Typography Utility Classes */
.text-heading-1 {
  @apply font-lora text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-64 font-normal leading-1.09 tracking-0.01;
}

.text-heading-2 {
  @apply font-lora text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-52 font-medium leading-1.28 tracking-0.01;
}

.text-heading-2-with-background {
  @apply font-inter text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-52 font-medium leading-1.28 tracking-0.01;
}

.text-heading-3 {
  @apply font-lora text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-40 font-medium leading-1.28;
}

.text-heading-4 {
  @apply font-lora text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium leading-1.28;
}

.text-body-large {
  @apply font-inter text-base sm:text-lg md:text-xl lg:text-2xl xl:text-24 font-light leading-1.42;
}

.text-body-medium {
  @apply font-inter text-base sm:text-lg md:text-xl lg:text-20 font-light leading-1.4;
}

.text-body-small {
  @apply font-inter text-sm sm:text-base md:text-lg lg:text-xl font-light leading-1.4;
}

.text-body-xs {
  @apply font-inter text-xs sm:text-sm font-semibold leading-1.21;
}

.text-button {
  @apply font-inter text-base sm:text-lg md:text-xl lg:text-20 font-bold leading-1.21;
}

.text-caption {
  @apply font-raleway text-sm font-semibold leading-1.17;
}

.text-quote {
  @apply font-lora text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-22 font-light leading-1.28;
}

.text-quote-large {
  @apply font-lora text-xl sm:text-2xl md:text-24 font-medium leading-1.28;
}

.text-quote-sign {
  @apply font-kazimir text-102 leading-1.366;
}

/* Element-specific styles */
.element-hidden-effect {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.text-quote-light {
  @apply font-lora text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-22 font-medium leading-1.28;
}

.element-hidden-effect.visible {
  opacity: 1;
}

/* Navigation Menu Animation */
.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2),
              0px 3px 14px 0px rgba(0, 0, 0, 0.12),
              0px 8px 10px 0px rgba(0, 0, 0, 0.14);
}

.nav-dropdown.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #1F1514;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-sub-item::after {
  content: '';
  display: flex;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-sub-item:hover::after {
  width: 100%;
}

/* Product Card Animation */
.product-card {
  transition: all 0.9s ease;
}

.product-card:hover {
    background: rgba(210, 210, 210, 0.4);
   .learn-more {
    gap: 8px;
   }
}

/* Learn More Link Animation */
.learn-more {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: gap 0.3s ease;
}

.learn-more:hover {
  gap: 8px;
}


/* CTA Button Animation */
.cta-button {
  transition: all 0.3s ease;
  padding: 16px 40px;
  border-radius: 12px;
  font-weight: 700;
  color: #1F1514;
}

/* Background Pattern Animation */
.pattern {
  background: linear-gradient(90deg, #E6E7E5 0%, #5A7D7C 50%, #E6E7E5 100%);
  background-size: 200% 100%;
  animation: patternMove 15s linear infinite;
}

@keyframes patternMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

/* Logo Animation */
.logo {
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #F5C324;
}

/* Timeline dashed line */
.timeline-dashed-line {
  border-style: dashed !important;
  border-width: 0 0 0 1px !important;
  border-dasharray: 120 120 !important;
}
